extends ../layouts/main-layout.pug

block content
    if errorMessage
        div.alert.alert-danger.col-sm-7#editAlert #{errorMessage}
    form(action='/account/new-password' method='post')
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)
        
        .form-group.row
            label.col-sm-2.col-form-label(for='password') Password
            .col-sm-5
                input#password.form-control(type='password' name='password')

        .form-group.row.offset-2
            button.btn.btn-primary(type='submit') Submit